<div class="columns is-centered">
  <div class="column is-5-tablet is-4-desktop is-3-widescreen">
    <%= form_with url: login_url, class: 'box' do |form| %>
      <div class="field">
        <%= form.label :email, class: 'label' %>
        <div class="control has-icons-left">
          <%= form.email_field :email, class: 'input', placeholder: 'e.g. bobsmith@gmail.com', required: true %>
          <span class="icon is-small is-left"><i class="fa fa-envelope"></i></span>
        </div>
      </div>
      <div class="field">
        <%= form.label :password, class: 'label' %>
        <div class="control has-icons-left">
          <%= form.password_field :password, class: 'input', placeholder: '********', required: true %>
          <span class="icon is-small is-left"><i class="fa fa-lock"></i></span>
        </div>
      </div>
      <div class="field">
        <a href="#" class="button is-text">Sign Up</a>
        <%= form.submit 'Login', class: 'button is-success' %>
      </div>
    <% end %>
    <div class="field">
      <%= button_to 'Log in with Google', '/auth/google_oauth2', method: :post, class: 'button is-primary', data: { turbo: false } %>
    </div>
  </div>
</div>
