<!DOCTYPE html>
<html>
  <head>
    <title>JustCookIt</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application" , "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
  </head>
  <body>
    <section class="hero is-fullheight is-default is-bold">
      <%= render 'layouts/top_nav' %>
      <div class="hero-body is-align-items-stretch">
        <div class="container">
          <turbo-frame id='global-search-frame'>
            <%= yield %>
          </turbo-frame>
          <span class="fixed-center-block bulma-loader-mixin loading-ring"></span>
        </div>
      </div>
      <%= render 'layouts/footer' %>
      <%= render 'layouts/flash' %>
    </section>
  </body>
</html>
